body{
    
    color:#82a5ca;
    margin:0px;
}

#hero{
    background-image: url("galaxy.webp");
    background-size: cover;
    text-align:center;
    padding:30px;
    
}
#main-logo{
    width:250px;
}
#apply-btn{
    padding:0px 19px;
    color: #82a5ca;
}
